# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv


#folders/files to ignore
#Arduino Project
Arduino/Arduino/__Previews/
Arduino/Arduino/History/
Arduino/Arduino/Project Logs for Arduino/
Arduino/Arduino/Project Outputs for Arduino_2/

#PowerSupply Project
ISL6236A_PowerSupply/ISL6236A_DEMO_V1/__Previews/
ISL6236A_PowerSupply/ISL6236A_DEMO_V1/Project Logs for ISL6236A_DEMO_V1/
ISL6236A_PowerSupply/ISL6236A_DEMO_V1/History/

#Misc
BOM
BOM Purchase FEDEVEL Live.xltx
Udemy_Learn_to_Design_Your_Own_Boards_2020-4.part1_Downloadly.ir.rar
Power




